#FormBox
{
    width: 100%;
    max-width:750px;
    margin: auto;
    margin-top:8px;
    padding: 32px;
    border: 4px double #187165;
    
}


.formInput {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #efefef;
	position: relative;
	box-shadow: none;
	padding: 16px 0 0;
	height: 50px;
	margin-bottom: 10px;
	
}

.formInput label {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	font-size: 1.5rem;
	font-weight: normal;
	height: 48px;
	line-height: 48px;
	margin: 0;
	display: block;
}
.formInput:not(.static) label {
	pointer-events: none;
}
.formInput .formControl {
	font-size: 1.5rem;
	border: none;
	line-height: 20px;
	background-color: transparent;
	box-shadow: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: auto;
	width: 100%;
}
.formInput .formControl::-moz-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput .formControl:-ms-input-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput .formControl::-webkit-input-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput .formBar:before,
.formInput .formBar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: -1px;
	position: absolute;
	background: #42a5f5;
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}
.formInput .formBar:before {
	left: 50%;
}
.formInput .formBar:after {
	right: 50%;
}
.formInput .formControl:focus::-moz-placeholder,
.formInput.static .formControl::-moz-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput .formControl:focus:-ms-input-placeholder,
.formInput.static .formControl:-ms-input-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput .formControl:focus::-webkit-input-placeholder,
.formInput.static .formControl::-webkit-input-placeholder {
	color: transparent;
	opacity: 0;
}
.formInput.static .formControl ~ label {
	font-size: 1rem;
	top: -18px;
	cursor: pointer;
}
.input-focus label,
.formInput .formControl:focus ~ label,
.formInput .formControl.used ~ label {
	color: #42a5f5;
	font-size: 1rem;
	top: -18px;
}
.formInput .formControl:focus ~ .formBar:before,
.formInput .formControl:focus ~ .formBar:after {
	width: 50%;
	top: 97%;
}
.input-focus label {
	margin: 0 auto;
}

.formInput .input-group {
	position: initial;
	width: 100%;
}
.formInput .input-group label {
	left: 36px;
}
.form-placement{
	display: inline-block;
	width: 85%;
	margin-top: 20px;
}
.check-input-hidden {
	display: none;
}
.check-input, .passwordsStatus, .validEmail {
	color: tomato;
	margin-bottom: 7px;
}